header {
  background-color: var(--color-purple);
  color: var(--color-white);
  padding: var(--s);
  border-radius: 0 0 var(--xs) var(--xs);

  .logo-headline {
    ::after {
      content: "4All";
      color: var(--color-orange);
    }
  }
}

.img-text-block {
  display: flex;
  background-color: var(--color-gruen);
  border-radius: var(--xs);
  margin-top: var(--s);

  img {
    width: 60%;
    object-fit: cover;
    border-radius: var(--xs) 0 0 var(--xs);
  }

  .text-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: var(--color-white);
    padding: var(--xxs);

    h2 {
      font-size: var(--s);
    }
    p {
      font-size: var(--xs);
    }
  }
}

.tab-header {
  display: flex;
  justify-content: space-between;
  margin: var(--s);
  align-items: center;

  .sub-bar {
    display: flex;
    width: 35%;
    justify-content: space-between;

    .icon-button {
      border-radius: var(--xxs);
      border-color: var(--color-grey);
      height: var(--s);
      align-items: center;
      display: flex;
      padding: var(--xs);
      background-color: var(--color-beige);

      img {
        height: var(--s);
      }
    }
  }
}

.content-table {
  width: 100%;

  .t-date {
    align-self: center;
    width: 15%;
    min-width: 60px;
  }

  .t-title {
    align-self: center;
  }

  .t-phase {
    color: var(--color-white);
    ul {
      list-style-type: none;
      text-align: right;
      li {
        background-color: var(--color-red);
        border-radius: var(--xxs);
        padding: var(--xxs);
        display: inline-flex;
        margin: 2px;
      }
    }
  }

  .t-umfang {
    width: 15%;
    min-width: 60px;
    align-self: center;
  }

  .t-link {
    width: 5%;
  }

  tr {
    border-top: 1px solid #000000;
    display: flex;
  }

  td {
    padding: var(--xxs);
    width: 100%;
  }
}

@media screen and (width <= 600px) {
  & .t-phase {
    display: none;
  }

  & .t-umfang {
    display: none;
  }
}

.nav-bar-bottom {
  background-color: var(--color-purple);
  display: flex;
  justify-content: space-around;
  border-radius: var(--xs) var(--xs) 0 0;
  font-size: var(--s);
  padding: var(--s);

  margin: 0 auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 520px;

  img {
    height: var(--l);
  }

  .nav-button {
    color: var(--color-white);
    text-align: center;
    font-size: var(--xs);

    & :hover {
      color: var(--color-orange);
    }
  }
}

.nav-bar-top {
  display: flex;
  justify-content: space-between;
  ul {
    display: flex;
    list-style-type: none;

    li {
      margin: var(--xs) var(--xs) 0 0;
      font-size: var(--xs);
      font-weight: 900;
      img {
        height: var(--m);
      }
    }
  }
}
